
.blog-container {
    display: flex;
    /* background-color: #000; */
    /* flex-direction: row;  */
    justify-content: space-between;
    align-items: center;
}

.vertical {
    border-left: 1px solid black;
    height: 300px;
    position:absolute;
    left: 82%;
}


aside {
display: flex;
flex-direction: column;
}

.main-section {
    flex: 1;
}

.topnav input[type=text] {
    border-radius: 5px;
    
  }

  .comment{
    display: flex;
    margin: 0.5rem;
  }